html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    background-image: url("https://github.com/Elwira2000/currency-converter/blob/main/images/background.jpg?raw=true");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    text-align: center;
    color: white
}

.paragraph {
    text-align: center;
}

.result {
    color: white;
}